---
const entrenador = "Pepito";
---
<style>
  header {
    background-color: #fff279;
    display: flex;
    padding: 1.2rem;
    margin-bottom: 2rem;
  }
</style>

<header>
    <p>Logo</p>
      <p>{entrenador}</p>
</header>
